@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Moderate";
}

@model List<Question>

<h2>@Model.Count questions to moderate</h2>
@foreach (Question q in Model)
{
    <div class="form-group">
        <form>
            <input type="hidden" name="Id" value="@q.Id" />
            <div class="form-group">
                <label name="question">Question prompt</label>
                <textarea rows="2" required type="text" class="form-control" placeholder="Question prompt" name="question">@q.question</textarea>
            </div>
            <div class="form-group">
                <label for="correctAnswers">Correct Answer</label>
                @foreach (string a in q.correctAnswers)
                {
                    <input required type="text" class="form-control" name="correctAnswers" value="@a" />
                }
            </div>
            <div class="form-group">
                <label for="wrongAnswers">Wrong Answers</label>
                @foreach (string a in q.wrongAnswers)
                {
                    <input required type="text" class="form-control" name="wrongAnswers" value="@a" />
                }
                <button type="button" class="approveBtn btn btn-primary">Approve</button>
                <button type="button" class="deleteBtn btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
}

@section Scripts {
    <script>
        $('.approveBtn').on('click', function (e) {
            var form = $(this).parent().parent();

            $.ajax({
                type: 'PUT',
                url: '/questions/approve',
                data: form.serialize(),
                complete: function (result) {
                    console.log("question succesfully approved");
                    form.parent().html("Question Approved");
                }
            })
        })

        $('.deleteBtn').click(function (e) {
            var form = $(this).parent().parent();
            var qId = form.children('input[name=Id]').val();
            console.log(qId);

            $.ajax({
                type: 'DELETE',
                url: '/questions/delete?id=' + qId,
                complete: function (result) {
                    console.log("question succesfully deleted");
                    form.parent().html("Question Deleted");
                }
            })
        })
    </script>
}
