@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Submit Question";
}

@model Question

@using (Html.BeginForm("Create", "Questions"))
{
<div class="form-group">
    <div class="form-group">
        <label asp-for="@Model.question">Question prompt</label>
        <textarea rows="2" required type="text" class="form-control" placeholder="Question prompt" asp-for="@Model.question"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="@Model.correctAnswers">Correct Answer</label>
        <input required type="text" class="form-control" placeholder="Correct Answer" asp-for="@Model.correctAnswers" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.wrongAnswers">Wrong answers</label>
        <input required type="text" class="form-control" placeholder="Wrong Answer" asp-for="@Model.wrongAnswers" />
        <input required type="text" class="form-control" placeholder="Wrong Answer" asp-for="@Model.wrongAnswers" />
        <input required type="text" class="form-control" placeholder="Wrong Answer" asp-for="@Model.wrongAnswers" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>
}